*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    font: normal 1.25em/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: #f4f5f4;
}

p {

}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0px;
    z-index: 10000;
}

.currentSticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 120px;
    z-index: 10000;
}

/*.float-button {
    position:fixed;
}*/

#nextItem {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #FFE76E;
    color: #fff;
    font-size: 36px;
    z-index: 20000;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul {
    margin-bottom: 58px;
    margin-left:50px;
    background: #fff;
}

li {
    height: 70px;
    display:-webkit-box;
    -webkit-box-align:center;
    padding: 0 15px;
    border-bottom: 1px solid #f4f5f4;
}


.title {
    height: 120px;
    font-size: 36px;
    background: #fff;
}

.listTime {
    position: absolute;
    float: right;
    right: 15px;
    margin-top: 18px;
    font-size: 12px;
    color: #000000;
    color: rgba(0,0,0,0.35) ;
}

.currentItem .listTime {
    color: #fff;
}

.currentTopic {
    background: #42F59B;
    border-bottom: none
}

.doneItem {
    /*background: #42F59B;*/
    color: #42F59B;
    text-decoration: line-through;
}

.doneItem .listTime {
    color: #fff;
    text-decoration: line-through;
}

.currentItem .lateItem {
    background: #FF454B;
    color: #fff;
}

.currentItem {
    background: #1A1A1A;
    color: #fff;
}

.main-view {
    position: absolute;
    width:100%;
    height:100%;
}

.main-view.showing {
    left:320px;
}

.main-content {
    position:absolute;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    width:100%;
    height:100%;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 80px;
}
.meeting-edit {
    position:absolute;
    width:100%;
    height:100%;
    background-color: #FFFFFF;
    z-index:5000;
}

.scope-selector-column {
    float: left;
    width:30%;
    height:100%;
    margin:10px;
    color:#AAAAAA;
}

.scope-selector-column-scroll-area {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height:100%;
    width: 100%;
}

.scope-selector-column ul {
    list-style-type: none;
}

.scope-selector-column li {
    height:40px;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid #AAAAAA;
}

.scope-selector-column input {
    float:left;
   /* width:100px;*/
    font-weight: 100;
    color:#AAAAAA;
    font-size: 20px;
    margin:0;
    border:none;
}

.scope-selector-column input.selected {
    font-weight: 600;
    color:#000000;
}

.scope-selector-li-selected {
    font-weight: 600;
    color: #000000;
}

.scope-selector-li-selected.ticked:after {
     content:" \2713";
}

